<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Board</title>
</head>
<body>
    <h1>수정하기</h1>
    <form action="/board/edit" method="post">
        <input type="hidden" id="id" name="id" th:value="${board.id}">
        
        <label for="user">글쓴이 : </label>
        <input type="text" id="user" name="user" th:value="${board.user}" required><br>
        
        <label for="title">제목 : </label>
        <input type="text" id="title" name="title" th:value="${board.title}" required><br>
        
        <label for="content">내용 : </label>
        <textarea id="content" name="content" required th:text="${board.content}"></textarea><br>
        
        <input type="submit" value="변경">
    </form>
</body>
</html>
