<html lang="ko" mxlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="/boards/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>게시판 목록</h1>
    <a href="/board/add">게시글 작성</a>
    <ul id="list">
      <li class="items">
        <div class="items-inner-box">
          <div class="title">Test</div>
          <div class="user">user : 테스트중</div>
        </div>
      </li>
    </ul>
    <li class="items none">
      <div class="items-inner-box">
        <a class="item-id"><div class="title" name="id"></div></a>
        <div class="user">user : <span class="user-name"></span></div>
      </div>
    </li>
    <div id="pagination">
    </div>
    <a href="/board/thyme">타임으로가기</a>
    <script>
     const itemsPerPage = 3; 
     let currentPage = 1;     

async function getList(page) {

    const list = (await axios.get(`/paged?page=${page}&size=${itemsPerPage}`)).data;

    const listElem = document.getElementById("list");
    const itemElemTemplate = document.getElementsByClassName("none")[0];

    listElem.innerHTML = "";

    list.forEach((item) => {
        const tempElem = itemElemTemplate.cloneNode(true);
        tempElem.classList.remove("none");
        tempElem.getElementsByClassName("title")[0].innerHTML = item.title;
        tempElem.getElementsByClassName("item-id")[0].href = "/board/item?id=" + item.id;
        tempElem.getElementsByClassName("user-name")[0].innerHTML = item.user;
        listElem.append(tempElem);
    });
}

async function updatePagination() {
    const totalItems = (await axios.get("/total")).data;
    const totalPages = Math.ceil(totalItems / itemsPerPage);

    const paginationElem = document.getElementById("pagination");
    paginationElem.innerHTML = "";

    for (let i = 1; i <= totalPages; i++) {
        const pageButton = document.createElement("button");
        pageButton.innerText = i;
        pageButton.addEventListener("click", ((i) => {
            return async (e) => {
                currentPage = i;
                await getList(currentPage);
                updatePagination(e);
            };
        })(i));
        paginationElem.appendChild(pageButton);
    }
}

getList(currentPage);
updatePagination();

  </script>
  </body>
</html>
