<!DOCTYPE html>
<html lang="ko" mxlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>
        <h1 id="title"></h1>
        <h2 id="user"></h2>
        <p id="content"></p>
        <button id="cancel">뒤로가기</button>
    </div>
    <a th:href="@{'/board/edit?id=' + ${item.id}}">수정하기</a>
    <script>
        async function getBoard(){
            const params = new URLSearchParams();
            params.append('id', location.search.split("=")[1]);

            const board = (await axios.post("/board/item", params)).data;
            console.log(board);
            document.getElementById("title").innerHTML = "제목 : "+board.title;
            document.getElementById("user").innerHTML = "글쓴이 : "+board.user;
            document.getElementById("content").innerHTML = "내용 : "+board.content;
        }
        getBoard();
        document.getElementById('cancel').onclick = (e)=>{
            e.preventDefault();
           // location.href = "/board";
           history.back();
        };
   </script
    </script>
</body>
</html>
